<head>
	<title>Image Detection</title>
	<link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}"></link>
</head>

<body>

	<div class="box">
    	<form id ="form" class="form" method="post" enctype="multipart/form-data">

			<h2>Image Detection using Alexnet</h2>

			<div class="input-group">
				<label for="image_url">Enter a image URL:</label>
				<input id="image_url" type="url" name="image">
			</div>
			
			<div class="dropdown">
				<label for="nnModel">Neural Network Model:</label>
				<select id="nnModel" name="nnModel">
					<option value="alexnet">Alexnet</option>
					<option value="fasterRcnn">Faster RCNN</option>
				</select>
			</div>

    		<h1><input class="submit-btn" type="submit" value="Predict"></h1>
    	</form>

		{% if pred %}
			<p> {{ pred }}</p>
		{% endif %}
	</div>

</body>