<head>
	<title>Image Detection</title>
	<link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}"></link>
</head>

<body>

	<div class="box">

		{% if rCnnPred %}
		<div class="image-view">
			<img src="data:image/png;base64, {{rCnnPred}}" alt="Error" height ="auto">
		</div>
		<div class = "home-link">
			<button class="submit-btn"><a href="/">Home</a></button>
		</div>
		<style>
			.image-view img {
				padding-top: 5%;
				height: 85vh;
			}
		</style>

		{% elif clsName1 %}
			<div class="image-view">
				<img src={{ img_url }} alt="Input Image" width="50%">
			</div>
			<div class="pred-detail">
					<table>
						<tr>
							<th>Prediction</th>
	                        <th>Confidence Percentage</th>
						</tr>
						<tr>
							<td>{{ clsName1 }}</td>
							<td>{{ percent1 }}</td>
						</tr>
						<tr>
							<td>{{ clsName2 }}</td>
							<td>{{ percent2 }}</td>
						</tr>
						<tr>
							<td>{{ clsName3 }}</td>
							<td>{{ percent3 }}</td>
						</tr>
					</table>
			</div>
			<div class = "home-link">
				<button class="submit-btn"><a href="/">Home</a></button>
			</div>
		{% else %}
    		<form id ="form" class="form" method="post" enctype="multipart/form-data">

				<h2>Image Detection using Machine Learning</h2>

				<div class="input-group">
					<label for="image_url">Enter a image URL:</label>
					<input id="image_url" type="url" name="image">
				</div>
			
				<div class="dropdown">
					<label for="nnModel">Neural Network Model:</label>
					<select id="nnModel" name="nnModel">
						<option value="alexnet">AlexNet</option>
						<option value="resnet">ResNet</option>
						<option value="squeezenet">Squeezenet</option>
						<option value="vgg">VGG</option>
						<option value="densenet">DenseNet</option>
						<option value="inception">Inception</option>
						<option value="googlenet">GoogLeNet</option>
						<option value="shufflenet">ShuffleNet</option>
						<option value="mobilenet">MobileNet</option>
						<option value="resnext">ResNeXt</option>
						<option value="wide_resnet">Wide ResNet</option>
						<option value="mnasnet">MNASNet</option>
						<option value="efficientnet">EfficientNet</option>
						<option value="regnet_x">RegNet-X</option>
						<option value="regnet_y">RegNet-Y</option>
						<option value="fasterRcnn">RCNN</option>
					</select>
				</div>

    			<input class="submit-btn" type="submit" value="Predict">
    		</form>
		{% endif %}
	</div>

</body>